/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
    width: 28rem;
    max-width: 100%;
    text-align: center;
    position: relative;
    flex-direction: column;
}

.actions {
    display: flex;
}