.backgroundImage {
  background-image: url(./b);
}

.text {
  color: #ffffff;
  padding: 10%;
  align-items: center;
  background: rgba(148, 136, 136, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.text p { 
  font-size: large;
  text-align: justify;
  margin-left: 10px;
} 
