select {
    margin: 20px 0px;
}

.actions {
    display: flex;
    margin-top: 20px;
    /* justify-content: space-between; */
    gap: 20px;
}

.cardContainer{
    margin-bottom: 10px;
}

.cards{
    margin-bottom: 10px;
}